<a href="https://colab.research.google.com/github/varun289/fast-ai-practice-cs196/blob/main/(CS_196)_IMDB_Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install -Uqq fastbook
import fastbook
fastbook.setup_book()

In [3]:
import fastai
from fastai.tabular.all import *
from fastai.collab import *
import pandas as pd

In [65]:
#genre 
df = pd.read_csv('/content/gdrive/My Drive/Fast AI project/ratings_small.csv')
df1 = pd.read_csv('/content/gdrive/My Drive/Fast AI project/movies_metadata.csv')
df2 = pd.read_csv('/content/gdrive/My Drive/Fast AI project/keywords.csv')
ratings_small = pd.DataFrame(df)
movies_metadata = pd.DataFrame(df1)
keywords = pd.DataFrame(df2)
x = movies_metadata['adult']
y = movies_metadata['genres']
z = keywords['keywords']
ratings_small['adult'] = x
ratings_small['genres'] = y
ratings_small['keywords'] = z

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [66]:
ratings_small.head()

,userId,movieId,rating,timestamp,adult,genres,keywords
0,1,31,2.5,1260759144,False,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]"
1,1,1029,3.0,1260759179,False,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]","[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'name': ""based on children's book""}, {'id': 33467, 'name': 'new home'}, {'id': 158086, 'name': 'recluse'}, {'id': 158091, 'name': 'giant insect'}]"
2,1,1061,3.0,1260759182,False,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]","[{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id': 179431, 'name': 'duringcreditsstinger'}, {'id': 208510, 'name': 'old men'}]"
3,1,1129,2.0,1260759185,False,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]","[{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial relationship'}, {'id': 14768, 'name': 'single mother'}, {'id': 15160, 'name': 'divorce'}, {'id': 33455, 'name': 'chick flick'}]"
4,1,1172,4.0,1260759205,False,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'name': 'midlife crisis'}, {'id': 2246, 'name': 'confidence'}, {'id': 4995, 'name': 'aging'}, {'id': 5600, 'name': 'daughter'}, {'id': 10707, 'name': 'mother daughter relationship'}, {'id': 13149, 'name': 'pregnancy'}, {'id': 33358, 'name': 'contraception'}, {'id': 170521, 'name': 'gynecologist'}]"

In [67]:
dls = CollabDataLoaders.from_df(ratings_small, valid_pct=0.2)

In [68]:
learn = collab_learner(dls)

In [69]:
learn.fine_tune(10)

In [70]:
df.iloc[0]

userId                                                                                                                                                                                                                                                                                                                                1
movieId                                                                                                                                                                                                                                                                                                                              31
rating                                                                                                                                                                                                                                                                                                                              2.5
timestamp                                                                                                                                                                                                                                                                                                                    1260759144
adult                                                                                                                                                                                                                                                                                                                             False
genres                                                                                                                                                                                                                                 [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
keywords     [{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id': 6054, 'name': 'friendship'}, {'id': 9713, 'name': 'friends'}, {'id': 9823, 'name': 'rivalry'}, {'id': 165503, 'name': 'boy next door'}, {'id': 170722, 'name': 'new toy'}, {'id': 187065, 'name': 'toy comes to life'}]
Name: 0, dtype: object

In [71]:
learn.show_results()

In [81]:
learn.export('simple_model2.pkl')

In [82]:
# Server side code
learn = load_learner('simple_model2.pkl')

#result = learn.predict(....)

#return result to client